html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#header_home{
	
}

#logout {

}

#maincontent{
	min-height: 50px; 

}

#footer {
	height: 40px;
	bottom: 25px;
	position: absolute;
}

h3, h4 {
	font-family:Arial Black;
	padding: 10px;
} 




